

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424b5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
} 

.Title-Text {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #24332c;
  /* background: linear-gradient(180deg, #07ff83, #024817);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; for Gradient if needed */ 
}

.About-Me-Header {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* color: #24332c; */
  background: linear-gradient(to top, rgb(77, 126, 90), rgb(3, 70, 25));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbarContainer { 
  position: relative;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap; 
  background-color: #0c1e0b;
  padding: 1rem;
  /* float: left; */
  width: 100%;
  gap: 10px;
}


.navitem {
  display: inline-block;       /* Shrinks to fit text */
  padding: 0.5rem 1rem;       /* Space inside the border */
  border: 2px solid #06e173;  /* Default border color */
  border-radius: 12px;        /* Rounded corners */
  background-color: #e0ffe5;  /* Fill color inside the border */
  font-weight: bold;
  font-size: 1.5rem;
  color: #024817;             /* Default text color */
  transition: all 0.3s ease;  /* Smooth transition when active */
  justify-content: center;
  margin: 1rem;
}

#navbarToggle {
  width: 60px;
  cursor: pointer;
  object-fit: contain;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

}

/* Only override what changes for the active item */
.navitem.activeNavItem {
  border-color: #024817;      /* Darker border for active */
  border-radius: 24px;        /* More rounded corners */
  color: #000000;             /* Darker text */
}

#Fishing_Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#Description {
  text-align: center;
  margin-left: 12rem;
  margin-right: 12rem;
}

.navbarMenu {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #222;
  padding-top: 60px;

  clip-path: circle(150% at 40px 30px);
  transition: clip-path 0.6px ease-in-out;
}
  


